<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Babuji Sahaj Marg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Babuji Sahaj Marg
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- First card: Full width -->
      <ion-col size="12">
        <ion-card [routerLink]="'/home/' + 'LalajiBooks'" class="minimal-card">
          <img alt="LalajiBooks" src="https://babujisahajmarg.in/images/serv-01.png" />
          <ion-card-header>
            <ion-card-title>LalajiBooks</ion-card-title>
            <ion-card-subtitle>Truth_Eternal || Aroma-of-Divine-Duality</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 2 cards per row -->
      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'BabujiBooks'" class="minimal-card">
          <img alt="Babujibooks" src="https://babujisahajmarg.in/images/babujibooks.jpg" />
          <ion-card-header>
            <ion-card-title>Babuji books</ion-card-title>
            <ion-card-subtitle>Reality_at_Dawn || Towards-Infinity || Efficacity_of_Raja_Yoga</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'BabujiAutobiography'" class="minimal-card">
          <img alt="Babuji Autobiography" src="https://babujisahajmarg.in/images/serv-05.png" />
          <ion-card-header>
            <ion-card-title>Babuji Autobiography</ion-card-title>
            <ion-card-subtitle>including Telugu autobiography</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 2 cards per row -->
      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'BabujiAudioBooks'" class="minimal-card">
          <img alt="Babuji Audio Books" src="https://babujisahajmarg.in/images/serv-03.png" />
          <ion-card-header>
            <ion-card-title>Babuji Audio Books</ion-card-title>
            <ion-card-subtitle>Divine-Light || Intercommunion || Constant-Remembrance || Relationship-with-Master</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'BabujiAssociatesBooks'" class="minimal-card">
          <img alt="Babuji Associates Books" src="https://babujisahajmarg.in/images/serv-04.png" />
          <ion-card-header>
            <ion-card-title>Babuji Associates Books</ion-card-title>
            <ion-card-subtitle>Saint Kasturi || Spiritual correspondence with Babuji</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 2 cards per row -->
      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'BabujiAudio'" class="minimal-card">
          <img alt="Babuji Audio & Speech" src="https://babujisahajmarg.in/images/b 1.png" />
          <ion-card-header>
            <ion-card-title>Babuji Audio & Speech</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'RESEARCH BOOKS & OTHER BOOKS'" class="minimal-card">
          <img alt="Research Books & Other Books" src="https://babujisahajmarg.in/images/b 2.png" />
          <ion-card-header>
            <ion-card-title>RESEARCH BOOKS & OTHER BOOKS</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 2 cards per row -->
      <ion-col size="6">
        <ion-card [routerLink]="'/home/' + 'Videos'" class="minimal-card">
          <img alt="Videos" src="https://babujisahajmarg.in/images/b 3.png" />
          <ion-card-header>
            <ion-card-title>Videos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
